/*This is for the littlewoodriverconstruction site and screened devices*/

/* *****************************************************
* CSS Table of Contents
* 1. Imports
* 2. General Styles
* 3. Mobile Styles
* 4. Large Screen Styles
***************************************************** */

/**************************************************
* 1. Imports
**************************************************/


/**************************************************
* 2. General Styles
**************************************************/
.images {
    width: 40%;
}

.contain {
    display: flex;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

/* padding beneath main content 
#contain2 {
    padding-bottom: 5px;
}
*/

/* Horizontal navBAr with background color on top of banner */
#navBar {
    display: flex;
    background-color: burlywood;
    position: relative;
    z-index: 1;
    font-size: 16px;
}

.navItems {
    list-style: none;
    padding-right: 10px;
}

/* Move Navbar directly beneath company logo
   Reduce white space below navBar*/
#nav {
    margin-top: -35px;
    margin-bottom: -15px
}

/* Make header static */
header {
    width: 100%;
    position: fixed;
    position:sticky;
    top: 0;   
    background-color: white;
}

/* Display content below static navBar */
main {
    padding-top: 15px;
    background-color: darkgoldenrod;
}

footer {
    text-align: center;
    background-color: darkgoldenrod;
    padding: 1px;
    margin-top: 5px;
}

#footerText {
    background-color: beige;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

/* reduce logo size */
#logo {
    max-width: 80%;
}


body {
    background-color: darkkhaki;
}

.info {
    width: 100%;
}


/**************************************************
* 3. Mobile Styles
**************************************************/
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: inherit;
    margin: auto;
}

.contain {
    flex-wrap: wrap;
    width: 95%
}

.images {
    width: 100%
}

h2 {
    text-align: center;
    font-size: 200%;
}






/**************************************************
* 4. Large Screen Styles
**************************************************/
/* Full Screen */
@media screen and (min-width: 1250px) {
    #logo {
        max-width: 20%;
    }

    /* Move Navbar directly beneath company logo */
    #nav {
        margin-top: -40px
    }

    /* increase link font size */
    #navBar {
        font-size: 20px;
    }

    /* Display content below static navBar 
    main {
        padding-top: 150px;
    }
    */

    /* Slideshow container */
    .slideshow-container {
        max-width: 55%;
        position: inherit;
        margin: auto;
    }

    .contain {
        flex-wrap: nowrap;
        width: 55%;

    }

    /* Size content images */
    .images {
        width: 50%;
    }


}

/* Mid screen */
@media screen and (max-width: 1249px) {
    @media screen and (min-width: 800px) {
        #logo {
            max-width: 30%;
        }

        /* Move Navbar directly beneath company logo */
        #nav {
            margin-top: -35px;
        }

        /* increase link font size */
        #navBar {
            font-size: 18px;
        }

        /* Display content below static navBar 
        main {
            padding-top: 175px;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 90%;
            position: inherit;
            margin: auto;
        }

        .contain {
            flex-wrap: nowrap;
            width: 90%;
        }

        .images {
            width: 40%;
        }

    }
}

@media screen and (max-width: 799px) {
    @media screen and (min-width: 550px) {

        /* Increase logo size */
        #logo {
            max-width: 50%;
        }

        /* Set link size */
        #navBar {
            font-size: 16px;
        }

        /*
        main {
            padding-top: 160px;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 90%;
            position: inherit;
            margin: auto;
        }

        .contain {
            flex-wrap: nowrap;
            width: 90%;
        }

        .images {
            width: 40%;
        }

    }
