/*This is for the littlewoodriverconstruction site and screened devices*/

/* *****************************************************
* CSS Table of Contents
* 1. Imports
* 2. General Styles
* 3. Mobile Styles
* 4. Large Screen Styles
***************************************************** */

/**************************************************
* 1. Imports
**************************************************/


/**************************************************
* 2. General Styles
**************************************************/
.images {
    width: 100%;
    align-content: flex-end;
}

    .contain {
        display: flex;
        background-color: beige;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


/* Horizontal navBAr with background color on top of banner */
#navBar {
    display:flex;
    background-color:burlywood;
    position:relative;
    z-index: 1;
    font-size: 20px;
}

.navItems {
    list-style: none;
    padding-right: 10px;
}

/* Move Navbar directly beneath company logo
   Reduce white space below navBar*/
#nav {
    margin-top: -35px;
    margin-bottom: -15px
}

/* Make header static */
header {
    width: 100%;
    position: fixed;
    float: left;
    top: 0;
    background-color: white;
}

/* Display content below static navBar */
    main{        
        padding-top: 202px;

    }

/* reduce logo size */
#logo {
    max-width: 50%;
}

main {
    background-color: darkgoldenrod;
    margin-top: ;
}

.images {
    width: 50%;
}

.info {
    width: 100%;
}


/**************************************************
* 3. Mobile Styles
**************************************************/
        /* Slideshow container */
        .slideshow-container {
            max-width: 500px;
            position: inherit;
            margin: auto;
        }


/**************************************************
* 4. Large Screen Styles
**************************************************/
@media screen and (min-width: 760px){
    #logo {
    max-width: 30%;
}
  /* Move Navbar directly beneath company logo */
#nav {
    margin-top: -50px
}   
    
    /* Display content below static navBar */
    main{        
        padding-top: 190px;

    }
    
            /* Slideshow container */
        .slideshow-container {
            max-width: 750px;
            position: inherit;
            margin: auto;
        }
    
    /*
    .images {
    width: 30%;
}
    
    .contain {
        display: flex;
    }
    */
}
