/*This if for portfolio Pages*/

/* *****************************************************
* CSS Table of Contents
* 1. Imports
* 2. General Styles
* 3. Mobile Styles
* 4. Large Screen Styles
***************************************************** */

/**************************************************
* 1. Imports
**************************************************/

/**************************************************
* 2. General Styles
**************************************************/
body {
    background-color: #c2f2f1;
}

header {
    background-color: cadetblue;
}

main {
    background-color: cadetblue;
    padding-top: 5px;
    padding-bottom: 5px;
    color: aliceblue;
}

#navBar {
    list-style: none;
    background-color: burlywood;
}

.navButtons {
    color: brown;
}

h1 {
    color: blanchedalmond;
}

h2 {
    color: blanchedalmond;
}

p {
     color: blanchedalmond;
}



/**************************************************
* 3. Mobile Styles
**************************************************/
main {
    text-align: center;
}

li {
    text-align: left;
}

/**************************************************
* 4. Large Screen Styles
**************************************************/
@media screen and (min-width: 760px){
    #navBar {
        display: flex;   
    }
    
    .navLinks {
    margin-left: -20px;
    padding-right: 20px;
    }

    .navButtons {
    padding-right: 25px;
    }
    
    main {
        text-align: left;
    }
    
    #intro {
        display: flex;
    }
    
    #introText {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}