/*This if for portfolio Pages*/

/* *****************************************************
* CSS Table of Contents
* 1. Imports
* 2. General Styles
* 3. Mobile Styles
* 4. Large Screen Styles
***************************************************** */

/**************************************************
* 1. Imports
**************************************************/

/**************************************************
* 2. General Styles
**************************************************/
body {
    background-color: darkblue;
}

header {
    background-color: cadetblue
}

main {
    background-color: cadetblue;
    padding-top: 5px;
}

#navBar {
    list-style: none;
    background-color: beige;
}

/**************************************************
* 3. Mobile Styles
**************************************************/
main {
    text-align:center;
}

/**************************************************
* 4. Large Screen Styles
**************************************************/
@media screen and (min-width: 760px){
    #navBar {
        display: flex;   
    }
    
    .navLinks {
    margin-left: -20px;
    padding-right: 20px;
    }

    .navButtons {
    padding-right: 25px;
    }
    
    main {
        text-align: left;
    }
    
}